<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <properties resource="context.properties" />   
   <settings>
      <!-- 카멜케이스 매핑 설정 -->
      <setting name="mapUnderscoreToCamelCase" value="true"></setting>
      
      <!-- 쿼리 결과 필드가 null인 경우 누락되지 않도록 설정 -->
      <setting name="callSettersOnNulls" value="true"></setting>
      
      <!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
      <setting name="jdbcTypeForNull" value="NULL"></setting>
      
   </settings>

   <!-- DTO 별칭 설정 -->
   <typeAliases>
      <typeAlias type="com.unibridge.app.member.dto.MemberDTO" alias="MemberDTO"></typeAlias>
      <!-- <typeAlias type="com.unibridge.app.Board.dto.BoardDTO" alias="BoardDTO"></typeAlias> -->
      <typeAlias type="com.unibridge.app.pay.dto.PaymentDTO" alias="PaymentDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.mentorSearch.dto.MentorSearchDTO" alias="MentorSearchDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.file.dto.FileDTO" alias="FileDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.mypage.survey.dto.SurveyDTO" alias="SurveyDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.mypage.surveyMentee.dto.SurveyMenteeDTO" alias="SurveyMenteeDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.mypage.surveyMentor.dto.SurveyMentorDTO" alias="SurveyMentorDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.noticeBoard.dto.NoticeBoardDTO"             alias="NoticeBoardDTO"    />
      <typeAlias type="com.unibridge.app.noticeBoard.dto.NoticeBoardListDTO"         alias="NoticeBoardListDTO"/>
      <typeAlias type="com.unibridge.app.mypage.mentoring.dto.MentoringDTO" alias="MentoringDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.admin.dto.AdminDTO" alias="AdminDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.admin.dto.AdMainDTO" alias="AdMainDTO"></typeAlias>
      <typeAlias type="com.unibridge.app.learningReport.dto.LearningReportDTO" alias="LearningReportDTO"></typeAlias>

      <typeAlias type="com.unibridge.app.menteeBoard.dto.MenteeBoardDTO"             alias="MenteeBoardDTO"    />
      <typeAlias type="com.unibridge.app.menteeBoard.dto.MenteeBoardListDTO"         alias="MenteeBoardListDTO"/><!-- 
      <typeAlias type="com.unibridge.app.mentorBoard.dto.MentorBoardDTO"             alias="MentorBoardDTO"    />
      <typeAlias type="com.unibridge.app.mentorBoard.dto.MentorBoardListDTO"         alias="MentorBoardListDTO"/> -->


   </typeAliases>

   <environments default="oracle">
      <environment id="oracle">
         <transactionManager type="JDBC"></transactionManager>
         <dataSource type="POOLED">
            <property name="driver" value="${db.driver}"></property>
            <property name="url" value="${db.url}"></property>
            <property name="username" value="${db.username}"></property>
            <property name="password" value="${db.password}"></property>
         </dataSource>
      </environment>
   </environments>
   
   <!-- Mapper.xml 등록 추후 필요 , 추가되면 만들기 -->
   <mappers>
      <mapper resource="com/unibridge/mapper/memberMapper.xml" />
      <!-- <mapper resource="com/unibridge/mapper/BoardMapper.xml" /> -->
      <mapper resource="com/unibridge/mapper/payMapper.xml" />
      <mapper resource="com/unibridge/mapper/mentorSearchMapper.xml" />
      <mapper resource="com/unibridge/mapper/learningReportMapper.xml"/>
      <mapper resource="com/unibridge/mapper/surveyMapper.xml" />
      <mapper resource="com/unibridge/mapper/fileMapper.xml" />
      <mapper resource="com/unibridge/mapper/mentoringMapper.xml" />
      <mapper resource="com/unibridge/mapper/mainMapper.xml"/>
      <mapper resource="com/unibridge/mapper/AdminMapper.xml"/>
      <mapper resource="com/unibridge/mapper/NoticeBoardMapper.xml" />
      <mapper resource="com/unibridge/mapper/menteeBoardMapper.xml" />
      <!-- <mapper resource="com/unibridge/mapper/mentorBoardMapper.xml" /> -->
   </mappers>
   
</configuration>