@font-face {
  font-family: "jsMath-cmti10";
  src: url("/frontend/assets/fonts/jsmath-cmti10/jsMath-cmti10.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}