<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

	<!-- 관리자 번호 닉네임 변환 -->
	<select id="conversionNickname" parameterType="int"
		resultType="String">
		SELECT ADMIN_NICKNAME
		FROM UB_ADMIN
		WHERE ADMIN_NUMBER =
		#{adminNumber}
	</select>


	<!-- 관리자 로그인 -->
	<select id="adlogin" parameterType="AdminDTO" resultType="int">
		SELECT
		* FROM UB_ADMIN
		WHERE admin_id = #{adminId} and admin_pw = #{adminPw}
	</select>

	<!-- 메인페이지 -->
	<!-- 회원 전체 -->
	<select id="membertotal" resultType="int">
		SELECT count(*) FROM
		UB_MEMBER
	</select>
	<!-- 멘토 전체 -->
	<select id="mentortotal" resultType="int">
		SELECT count(*) FROM
		UB_MEMBER WHERE MEMBER_TYPE = 'MENTOR'
	</select>
	<!-- 멘티 전체 -->
	<select id="menteetotal" resultType="int">
		SELECT count(*) FROM
		UB_MEMBER WHERE MEMBER_TYPE = 'MENTEE'
	</select>
	<!-- 현재 매칭 전체 -->
	<select id="matchingtotal" resultType="int">
		SELECT count(*) FROM
		UB_MATCHING WHERE MATCHING_STATE = '매칭중'
	</select>

	<!-- 최신 게시판 -->
	<select id="recentboard" resultType="AdMainDTO">
	<![CDATA[
		SELECT * 
		FROM (
		SELECT  umb.board_title, umb.board_date
		FROM UB_MENTEE_BOARD umb
		UNION ALL 
		SELECT  umb.board_title, umb.board_date
		FROM UB_MENTOR_BOARD umb
		ORDER BY board_date desc)
		WHERE ROWNUM <= 5
	]]>
	</select>

	<!-- 최신 멤버 -->
	<select id="recentMember" resultType="AdMainDTO">
	<![CDATA[
		SELECT * 
		FROM (
		SELECT MEMBER_NAME, MEMBER_type, member_date 
		FROM UB_MEMBER
		ORDER BY member_date desc)
		WHERE ROWNUM <= 5
	]]>
	</select>

	<!-- 멘티 게시판 -->
	<!-- 전체 조회 게시판 갯수 -->
	<select id="menteeGetTotal" resultType="int">
		select count(*) from
		UB_MENTEE_BOARD
	</select>

	<!-- 랜더링 조회 게시판 갯수 -->
	<select id="menteeGetRenderingTotal" resultType="int">
		select count(*)
		from UB_MENTEE_BOARD
		WHERE board_date BETWEEN TO_DATE(#{dateFrom},
		'YYYY-MM-DD') AND
		TO_DATE(#{dateTo}, 'YYYY-MM-DD')
	</select>

	<!-- 전체 조회 -->
	<select id="menteeSelectAll" resultType="AdMenteeBoardListDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT umb.menteeboard_number, board_title, board_click, board_date, 
						CASE
							WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
							WHEN umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
						END AS "write_nickname"
					FROM UB_MENTEE_BOARD umb
					LEFT JOIN UB_MEMBER um ON um.MEMBER_NUMBER = umb.MEMBER_NUMBER 
					LEFT JOIN UB_ADMIN UA ON umb.admin_number = ua.admin_number
					ORDER BY umb.MENTEEBOARD_NUMBER desc
				) subquery
			)WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>

	<!-- 멘티 랜더링 조회 -->
	<select id="menteeSelectFilter"
		resultType="AdMenteeBoardListDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT umb.menteeboard_number, board_title, board_click, board_date, 
						CASE
							WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
							WHEN umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
						END AS "write_nickname"
					FROM UB_MENTEE_BOARD umb
					LEFT JOIN UB_MEMBER um ON um.MEMBER_NUMBER = umb.MEMBER_NUMBER 
					LEFT JOIN UB_ADMIN UA ON umb.admin_number = ua.admin_number
					WHERE board_date BETWEEN TO_DATE(#{dateFrom}, 'YYYY-MM-DD')
					AND TO_DATE(#{dateTo}, 'YYYY-MM-DD')
					ORDER BY umb.MENTEEBOARD_NUMBER desc
				) subquery
			)WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>

	<!-- 멘티 상세 조회 -->
	<select id="menteeSelectOne" resultType="AdMenteeBoardDTO">
		SELECT
		UMB.menteeboard_number, UMB.BOARD_TITLE , UMB.BOARD_CONTENT ,
		UMB.BOARD_CONTENT , UMB.BOARD_CLICK , UMB.board_date, UF.FILE_NAME,
		CASE
		WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
		WHEN
		umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
		END AS
		"write_nickname",
		CASE
		WHEN umb.admin_number IS NOT NULL THEN
		ua.admin_number
		WHEN umb.MEMBER_number IS NOT NULL THEN
		um.MEMBER_number
		END AS
		"write_number"
		FROM UB_MENTEE_BOARD UMB
		LEFT JOIN
		UB_MEMBER UM ON
		UMB.member_number = UM.member_number
		LEFT JOIN UB_ADMIN
		UA ON
		UMB.admin_number = UA.admin_number
		LEFT JOIN UB_FILE UF ON
		UMB.FILE_NUMBER = UF.FILE_NUMBER
		WHERE UMB.MENTEEBOARD_NUMBER =
		#{boardNumber}
	</select>

	<!-- 멘티 게시판 작성 -->
	<insert id="menteeInsert" parameterType="AdMenteeBoardDTO">
		<selectKey keyProperty="menteeboardNumber" resultType="int"
			order="BEFORE">
			SELECT SEQ_MENTEE_BOARD.nextVal FROM DUAL
		</selectKey>
		INSERT INTO UB_mentee_board(menteeboard_number, board_title,
		board_content, admin_number)
		VALUES(#{menteeboardNumber},
		#{boardTitle}, #{boardContent}, #{writeNumber})
	</insert>

	<!-- 멘티 게시판 수정 -->
	<update id="menteeUpdate">
		UPDATE UB_mentee_board
		SET board_title=#{boardTitle},
		board_content=#{boardContent}
		WHERE
		menteeBoard_number=#{menteeboardNumber}
	</update>

	<!-- 멘티 게시판 삭제 -->
	<delete id="menteeDelete">
		delete From UB_mentee_board
		where
		menteeBoard_number=#{menteeboardNumber}
	</delete>

	<!-- 멘티 게시판 댓글 전체 삭제 -->
	<delete id="menteeDeleteAllComment">
		DELETE FROM UB_mentee_board_comment WHERE
		menteeBoard_ID = #{menteeboardNumber}
	</delete>
	
	<!-- 멘티 게시판 댓글 전체 조회 -->
	<select id="menteeSelectCommentList" parameterType="int" resultType="AdMenteeBoardCommentDTO">
		SELECT 
	        MENTEE_COM_ID as menteeComNumber,  MENTEE_COM_CONTENT as menteeComContent, 
	        MENTEE_COM_DATE as menteeComDate, 
	        UM.MEMBER_NICKNAME as memberNickname
	    FROM UB_MENTEE_BOARD_COMMENT MBC
	    JOIN UB_MEMBER UM ON MBC.MEMBER_NUMBER = UM.MEMBER_NUMBER
	    WHERE MENTEEBOARD_ID = #{boardNumber}
	    ORDER BY MENTEE_COM_DATE DESC
	</select>


	<!-- 멘토 게시판 -->
	<!-- 전체 조회 게시판 갯수 -->
	<select id="mentorGetTotal" resultType="int">
		select count(*) from
		UB_MENTOR_BOARD
	</select>

	<!-- 랜더링 조회 게시판 갯수 -->
	<select id="mentorGetRenderingTotal" resultType="int">
		select count(*)
		from UB_MENTOR_BOARD
		WHERE board_date BETWEEN TO_DATE(#{dateFrom},
		'YYYY-MM-DD') AND
		TO_DATE(#{dateTo}, 'YYYY-MM-DD')
	</select>

	<!-- 전체 조회 -->
	<select id="mentorSelectAll" resultType="AdMentorBoardListDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT umb.mentorboard_number, board_title, board_click, board_date, 
						CASE
							WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
							WHEN umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
						END AS "write_nickname"
					FROM UB_MENTOR_BOARD umb
					LEFT JOIN UB_MEMBER um ON um.MEMBER_NUMBER = umb.MEMBER_NUMBER 
					LEFT JOIN UB_ADMIN UA ON umb.admin_number = ua.admin_number
					ORDER BY umb.MENTORBOARD_NUMBER desc
				) subquery
			)WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>

	<!-- 멘토 랜더링 조회 -->
	<select id="mentorSelectFilter"
		resultType="AdMentorBoardListDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT umb.mentorboard_number, board_title, board_click, board_date, 
						CASE
							WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
							WHEN umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
						END AS "write_nickname"
					FROM UB_MENTOR_BOARD umb
					LEFT JOIN UB_MEMBER um ON um.MEMBER_NUMBER = umb.MEMBER_NUMBER 
					LEFT JOIN UB_ADMIN UA ON umb.admin_number = ua.admin_number
					WHERE board_date BETWEEN TO_DATE(#{dateFrom}, 'YYYY-MM-DD')
					AND TO_DATE(#{dateTo}, 'YYYY-MM-DD')
					ORDER BY umb.MENTORBOARD_NUMBER desc
				) subquery
			)WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>

	<!-- 멘토 상세 조회 -->
	<select id="mentorSelectOne" resultType="AdMentorBoardDTO">
		SELECT
		UMB.mentorboard_number, UMB.BOARD_TITLE , UMB.BOARD_CONTENT ,
		UMB.BOARD_CONTENT , UMB.BOARD_CLICK , UMB.board_date, UF.FILE_NAME,
		CASE
		WHEN umb.admin_number IS NOT NULL THEN ua.admin_Nickname
		WHEN
		umb.MEMBER_number IS NOT NULL THEN um.MEMBER_nickname
		END AS
		"write_nickname",
		CASE
		WHEN umb.admin_number IS NOT NULL THEN
		ua.admin_number
		WHEN umb.MEMBER_number IS NOT NULL THEN
		um.MEMBER_number
		END AS
		"write_number"
		FROM UB_MENTOR_BOARD UMB
		LEFT JOIN
		UB_MEMBER UM ON
		UMB.member_number = UM.member_number
		LEFT JOIN UB_ADMIN
		UA ON
		UMB.admin_number = UA.admin_number
		LEFT JOIN UB_FILE UF ON
		UMB.FILE_NUMBER = UF.FILE_NUMBER
		WHERE UMB.MENTORBOARD_NUMBER =
		#{boardNumber}
	</select>

	<!-- 멘토 게시판 작성 -->
	<insert id="mentorInsert" parameterType="AdMentorBoardDTO">
		<selectKey keyProperty="mentorboardNumber" resultType="int"
			order="BEFORE">
			SELECT SEQ_MENTOR_BOARD.nextVal FROM DUAL
		</selectKey>
		INSERT INTO UB_mentor_board(mentorboard_number, board_title,
		board_content, admin_number)
		VALUES(#{mentorboardNumber},
		#{boardTitle}, #{boardContent}, #{writeNumber})
	</insert>

	<!-- 멘토 게시판 수정 -->
	<update id="mentorUpdate">
		UPDATE UB_mentor_board
		SET board_title=#{boardTitle},
		board_content=#{boardContent}
		WHERE
		mentorBoard_number=#{mentorboardNumber}
	</update>

	<!-- 멘토 게시판 삭제 -->
	<delete id="mentorDelete">
		delete From UB_mentor_board
		where
		mentorBoard_number=#{mentorboardNumber}
	</delete>

	<!-- 멘토 게시판 댓글 전체 삭제 -->
	<delete id="mentorDeleteAllComment">
		DELETE FROM UB_mentor_board_comment WHERE
		mentorBoard_ID = #{mentorboardNumber}
	</delete>
	
	<!-- 멘토 게시판 댓글 전체 조회 -->
	<select id="mentorSelectCommentList" parameterType="int" resultType="AdMentorBoardCommentDTO">
		SELECT 
	        MENTOR_COM_ID as mentorComNumber,  MENTOR_COM_CONTENT as mentorComContent, 
	        MENTOR_COM_DATE as mentorComDate, 
	        UM.MEMBER_NICKNAME as memberNickname
	    FROM UB_MENTOR_BOARD_COMMENT MBC
	    JOIN UB_MEMBER UM ON MBC.MEMBER_NUMBER = UM.MEMBER_NUMBER
	    WHERE MENTORBOARD_ID = #{boardNumber}
	    ORDER BY MENTOR_COM_DATE DESC
	</select>

	
	<!-- 공지사항 -->
	<!-- 전체 조회 게시판 갯수 -->
	<select id="noticeGetTotal" resultType = "int">
		select count(*) from UB_NOTICEBOARD
	</select>
	
	<!-- 랜더링 조회 게시판 갯수 -->
	<select id="noticeGetRenderingDateTypeTotal" resultType = "int">
		select count(*) from UB_NOTICEBOARD 
		WHERE board_date BETWEEN TO_DATE(#{dateFrom}, 'YYYY-MM-DD') AND TO_DATE(#{dateTo}, 'YYYY-MM-DD')
		AND BOARD_TYPE = #{boardType}
	</select>
	
	<select id="noticeGetRenderingDateTotal" resultType = "int">
		select count(*) from UB_NOTICEBOARD 
		WHERE board_date BETWEEN TO_DATE(#{dateFrom}, 'YYYY-MM-DD') AND TO_DATE(#{dateTo}, 'YYYY-MM-DD')
	</select>
	
	<select id="noticeGetRenderingTypeTotal" resultType = "int">
		select count(*) from UB_NOTICEBOARD 
		WHERE BOARD_TYPE = #{boardType}
	</select>
	
	<!-- 전체 조회 -->
	<select id="noticeSelectAll" resultType = "AdNoticeBoardDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM AS rnum, subquery.*
				FROM (
					SELECT unb.NOTICEBOARD_NUMBER , unb.board_title, unb.board_click, unb.board_date, unb.board_type, ua.ADMIN_NICKNAME 
					FROM UB_NOTICEBOARD unb
					LEFT JOIN UB_ADMIN UA ON unb.admin_number = ua.admin_number
					ORDER BY unb.NOTICEBOARD_NUMBER desc
				) subquery
			)WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
	<!-- 랜더링 조회 -->
	<select id="noticeSelectDateTypeFilter" resultType="AdNoticeBoardDTO">
		<![CDATA[
		SELECT * FROM (
		    SELECT ROWNUM AS rnum, subquery.*
		    FROM (
		        SELECT unb.*, ua.ADMIN_NICKNAME
		        FROM UB_NOTICEBOARD unb
		        LEFT JOIN UB_ADMIN ua ON unb.admin_number = ua.admin_number
				WHERE unb.board_date BETWEEN TO_DATE(#{dateFrom}, 'YYYY-MM-DD') AND TO_DATE(#{dateTo}, 'YYYY-MM-DD')
				AND unb.BOARD_TYPE = #{boardType}
		        ORDER BY unb.NOTICEBOARD_NUMBER DESC
		    ) subquery
		)WHERE rnum BETWEEN #{startRow} AND #{endRow}
				]]>
	</select>
	
		<select id="noticeSelectDateFilter" resultType="AdNoticeBoardDTO">
		<![CDATA[
		SELECT * FROM (
		    SELECT ROWNUM AS rnum, subquery.*
		    FROM (
		        SELECT unb.*, ua.ADMIN_NICKNAME
		        FROM UB_NOTICEBOARD unb
		        LEFT JOIN UB_ADMIN ua ON unb.admin_number = ua.admin_number
				WHERE unb.board_date BETWEEN TO_DATE(#{dateFrom}, 'YYYY-MM-DD') AND TO_DATE(#{dateTo}, 'YYYY-MM-DD')
		        ORDER BY unb.NOTICEBOARD_NUMBER DESC
		    ) subquery
		)WHERE rnum BETWEEN #{startRow} AND #{endRow}
				]]>
	</select>
	
		<select id="noticeSelectTypeFilter" resultType="AdNoticeBoardDTO">
		<![CDATA[
		SELECT * FROM (
		    SELECT ROWNUM AS rnum, subquery.*
		    FROM (
		        SELECT unb.*, ua.ADMIN_NICKNAME
		        FROM UB_NOTICEBOARD unb
		        LEFT JOIN UB_ADMIN ua ON unb.admin_number = ua.admin_number
				WHERE unb.BOARD_TYPE = #{boardType}
		        ORDER BY unb.NOTICEBOARD_NUMBER DESC
		    ) subquery
		)WHERE rnum BETWEEN #{startRow} AND #{endRow}
				]]>
	</select>
	
	<!-- 공지 글 상세보기 -->
	<select id="noticeSelectOne" resultType="AdNoticeBoardDTO">
		SELECT m.admin_number, m.admin_Nickname, b.NOTICEBOARD_NUMBER, b.board_title,
		 	b.board_content, b.board_date, b.BOARD_CLICK, b.FILE_NUMBER 
		FROM UB_admin m JOIN UB_NOTICEBOARD b
		ON b.admin_number = m.admin_number
		WHERE b.NOTICEBOARD_NUMBER = #{boardNumber}
	</select>
	

	<!-- 공지 글 작성  -->
	<insert id="noticeInsert" parameterType="AdNoticeBoardDTO">
		<selectKey keyProperty="noticeboardNumber" resultType="int"
			order="BEFORE">
			SELECT SEQ_NOTICEBOARD.nextVal FROM DUAL
		</selectKey>
		INSERT INTO UB_noticeboard(noticeboard_number, board_title, board_content, admin_number, board_type, board_date, file_number)
		VALUES(#{noticeboardNumber}, #{boardTitle}, #{boardContent}, #{adminNumber}, #{boardType} , sysdate, #{fileNumber})
	</insert>
	
	<!-- 공지글에 링크되어 있는 파일 번호 확인 -->
	<select id="noticeNumberToFileNumber" resultType="int">
		select file_number
		from UB_NoticeBoard
		where noticeboard_Number = #{boardNumber}
	</select>

	<!-- 공지글 수정 -->
	<update id ="noticeUpdate">
		update UB_NoticeBoard
		SET board_title=#{boardTitle},
		board_content=#{boardContent},
		file_number=#{fileNumber}
		WHERE
		noticeboard_number=#{noticeboardNumber}
	</update>

	<!-- 공지글 삭제 -->
	<delete id ="noticeDelete">
		delete From UB_noticeboard
		where
		noticeBoard_number=#{noticeboardNumber}
	</delete>
</mapper>
