<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">

    <!-- 파일 등록 -->
    <insert id="insertFile" parameterType="FileDTO"
            useGeneratedKeys="true" keyProperty="fileNumber" keyColumn="file_number">
        INSERT INTO UB_FILE (file_name, file_original_name, file_extension, file_size, file_path)
        VALUES (#{fileName}, #{fileOriginalName}, #{fileExtension}, #{fileSize}, #{filePath})
    </insert>

    <!-- 파일 단건 조회 -->
    <select id="selectFile" parameterType="int" resultType="FileDTO">
        SELECT
            file_number        AS fileNumber,
            file_name          AS fileName,
            file_original_name AS fileOriginalName,
            file_extension     AS fileExtension,
            file_size          AS fileSize,
            file_path          AS filePath
        FROM UB_FILE
        WHERE file_number = #{fileNumber}
    </select>

    <!-- 파일 수정 -->
    <update id="updateFile" parameterType="FileDTO">
        UPDATE UB_FILE
        SET file_name          = #{fileName},
            file_original_name = #{fileOriginalName},
            file_extension     = #{fileExtension},
            file_size          = #{fileSize},
            file_path          = #{filePath}
        WHERE file_number = #{fileNumber}
    </update>

    <!-- 파일 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM UB_FILE
        WHERE file_number = #{fileNumber}
    </delete>

</mapper>