<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="learningReportMapper">

	<select id="selectReportList" resultType="LearningReportDTO">
		SELECT
		REPORT_NUMBER AS reportNumber,
		MATCHING_NUMBER,
		SUBJECT_TITLE,
		TO_CHAR(REPORT_DATE, 'YYYY-MM-DD') AS reportDateStr
		FROM UB_LEARNING_REPORT
		WHERE MATCHING_NUMBER = #{matchingNumber}
		ORDER BY REPORT_DATE DESC
	</select>

	<select id="selectReportDetail" resultType="LearningReportDTO">
		SELECT
		REPORT_NUMBER AS reportNumber,
		MATCHING_NUMBER,
		SUBJECT_TITLE,
		SUBJECT_CONTENT,
		REPORT_WEEK,
		REPORT_SESSION
		FROM UB_LEARNING_REPORT
		WHERE REPORT_NUMBER = #{reportNumber}
	</select>

</mapper>