<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

    <resultMap id="ContestResultMap" type="com.unibridge.app.main.dto.MainDTO$ContestDTO">
        <id     property="contestNumber" column="contest_number" />
        <result property="title"         column="title"          />
        <result property="detail"        column="detail"         />
        <result property="startDate"     column="start_date"     />
        <result property="endDate"       column="end_date"       />
        <result property="hostCompany"   column="host_company"   />
        <result property="techStack"     column="tech_stack"     />
        <result property="status"        column="status"         />
    </resultMap>

    <resultMap id="MentorCardResultMap" type="com.unibridge.app.main.dto.MainDTO$MentorCardDTO">
        <id     property="mentoringNumber" column="mentoring_number" />
        <result property="mentorNumber"    column="mentor_number"     />
        <result property="mentoringTitle"  column="mentoring_title"   />
        <result property="mentoringGoal"   column="mentoring_goal"    />
        <result property="mentoringDetail" column="mentoring_detail"  />
        <result property="mentoringFile"   column="mentoring_file"    />
        <result property="subjectNumber"   column="subject_number"    />
        <result property="subjectName"     column="subject_name"      />
        <result property="memberNickname"  column="member_nickname"   />
        <result property="memberProfile"   column="member_file_number"    />
    </resultMap>

    <select id="getContestList" resultMap="ContestResultMap">
        SELECT *
        FROM (
            SELECT
                contest_number,
                title,
                detail,
                start_date,
                end_date,
                host_company,
                tech_stack,
                status
            FROM UB_CONTEST
            WHERE status = '진행중'
            ORDER BY end_date ASC
        )
        <![CDATA[
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <select id="getMentorCardList" resultMap="MentorCardResultMap">
    SELECT *
    FROM (
        SELECT
            /* 별칭을 DTO의 필드명인 mentoringNumber와 정확히 일치시킵니다 */
            m.MENTORING_NUMBER      AS mentoringNumber, 
            m.MENTOR_NUMBER    AS mentorNumber,
            m.MENTORING_TITLE  AS mentoringTitle,
            m.MENTORING_GOAL   AS mentoringGoal,
            s.subject_name     AS subjectName,
            mb.member_nickname AS memberNickname,
            f.file_name         AS fileName,
            sm.grad_school      AS gradSchool,
            sm.grad_depart      AS gradDepart
            FROM UB_MENTORING m
        JOIN UB_MEMBER  mb ON m.MENTOR_NUMBER  = mb.member_number
        LEFT JOIN UB_SUBJECT s ON m.SUBJECT_NUMBER = s.subject_number
        LEFT JOIN UB_FILE f ON mb.file_number = f.file_number
        LEFT JOIN UB_SURVEY_MENTOR sm ON mb.survey_number = sm.survey_number
        WHERE mb.member_state = '계정 활성화'
        ORDER BY m.CREATED_AT DESC
    )
    <![CDATA[
    WHERE ROWNUM <= 7
    ]]>
</select>

<select id="getCompanyList" resultType="com.unibridge.app.main.dto.MainDTO$CompanyDTO">
    SELECT
        employment_id        AS employmentId,
        company_name         AS companyName,
        employment_title     AS employmentTitle,
        employment_location  AS employmentLocation,
        employment_career    AS employmentCareer,
        employment_education AS employmentEducation,
        employment_log       AS employmentLog,
        employment_url       AS employmentUrl
    FROM UB_COMPANY
    ORDER BY employment_id DESC
</select>

</mapper>