<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
   <!-- 회원가입 쿼리 작성 -->
   <insert id="join" parameterType="MemberDTO">
      INSERT INTO UB_MEMBER(
      	member_number, 
      	member_id, 
      	member_pw, 
      	member_name,
      	member_nickname,
        member_phone, 
        member_gender,
        survey_number,
        member_type,
        member_state,
        survey_write,
        file_number 
	  )
      VALUES (
      	seq_user.nextval, 
      	#{memberId}, 
      	#{memberPw}, 
      	#{memberName},
      	#{memberNickname}, 
      	#{memberPhone}, 
      	#{memberGender}, 
      	null,
      	'NODECIDED',
      	'계정 활성화',
      	'N',
      	null
      )
   </insert>
   
   <!-- id 중복 검사 쿼리 작성 -->
   <select id="checkId" parameterType="string" resultType="int">
      SELECT count(member_number) FROM tbl_member
      WHERE member_id = #{memberId}
   </select>
   
   <!-- 로그인 쿼리 작성 -->
   <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
      SELECT * FROM UB_MEMBER
      WHERE member_id = #{memberId} and member_pw = #{memberPw}
   </select>
   
   <!-- 멤버 번호에 해당하는 아이디 조회 쿼리 작성 -->
   <select id="getMemberId" parameterType="int" resultType="string">
      SELECT member_id FROM tbl_member
      WHERE member_number = #{memberNumber}
   </select>
   
</mapper>