<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menteeboard">
	<!-- 게시글 총 개수 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(menteeboard_number) FROM UB_MENTEE_BOARD
	</select>
	
	<!-- 조회수 -->
	<update id="updateClick" parameterType="int">
	    UPDATE UB_MENTEE_BOARD
	    SET board_click = board_click + 1
	    WHERE menteeboard_number = #{menteeBoardNumber}
	</update>

	<!-- 게시글 추가 -->
<!-- 	<insert id="insert" parameterType="BoardDTO">
		INSERT INTO UB_MENTEE_BOARD(menteeBoard_number, board_title, board_content, member_number)
		VALUSE(seq_board.nextval, #{boardTitle}, #{boardContent}, #{memberNumber})
	</insert>
	방금 생성된 시퀀스 값 가져오기
	<select id = "getCurrentmenteeBoardNumber" resultType="int">
		SELECT seq_board.currval
		FROM DUAL
	</select> -->

	<!-- useGeneratedKeys와 keyProperty 활용 -->
	<insert id="insert" parameterType="MenteeBoardDTO">
		<selectKey keyProperty="menteeBoardNumber" resultType="int" order="BEFORE">
			SELECT seq_mentee_board.nextVal FROM DUAL
		</selectKey>
			INSERT INTO UB_MENTEE_BOARD(menteeboard_number, board_title, board_content, member_number)
	    VALUES(#{menteeBoardNumber}, #{boardTitle}, #{boardContent}, #{memberNumber})
	</insert>

	<!-- 댓글 먼저 삭제 -->
	<delete id="deleteCommentByBoard" parameterType="int">
	    DELETE FROM UB_MENTEE_BOARD_COMMENT
	    WHERE menteeboard_id  = #{menteeBoardNumber}
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
	    DELETE FROM UB_MENTEE_BOARD
	    WHERE menteeboard_number = #{menteeBoardNumber}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="MenteeBoardDTO">
	    UPDATE UB_MENTEE_BOARD
	    SET board_title = #{boardTitle}, board_content = #{boardContent}
	    WHERE menteeboard_number = #{menteeBoardNumber}
	</update>
	
	<!-- 게시글 상세(1건 조회) -->
	<select id="select" parameterType="int" resultType="MenteeBoardListDTO">
		<![CDATA[
		    SELECT m.member_number  AS memberNumber,
		           m.member_id      AS memberId,
		           b.menteeboard_number AS menteeBoardNumber,
		           b.board_title    AS boardTitle,
		           b.board_content  AS boardContent,
		           b.board_date     AS boardDate,
		           b.board_click    AS boardClick
		    FROM UB_MEMBER m JOIN UB_MENTEE_BOARD b
		    ON b.member_number = m.member_number
		    WHERE b.menteeboard_number = #{menteeBoardNumber}
		]]>
	</select>
	
	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="MenteeBoardListDTO">
		<![CDATA[
			   SELECT * FROM (
			       SELECT ROWNUM AS rnum, subquery.*
			       FROM (
			           SELECT m.member_number  AS memberNumber,
			                  m.member_id      AS memberId,
			                  b.menteeboard_number AS menteeBoardNumber,
			                  b.board_title    AS boardTitle,
			                  b.board_content  AS boardContent,
			                  b.board_date     AS boardDate,
			                  b.board_click    AS boardClick
			           FROM UB_MEMBER m JOIN UB_MENTEE_BOARD b
			           ON m.member_number = b.member_number
			           ORDER BY b.board_date DESC
			       ) subquery
			   ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
			</select>
</mapper>







