<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mentorSearch">

	<select id="selectAllMentors" resultType="MentorSearchDTO">
		SELECT
		m.member_number AS memberNumber,
		m.member_name AS memberName,
		m.member_nickname AS memberNickname,
		s.grad_school AS gradSchool,
		s.grad_depart AS gradDepart,
		f.file_name AS fileName, TO_CHAR(mt.created_at, 'YYYY.MM.DD') AS createdAt
		FROM UB_MEMBER m
		LEFT JOIN UB_SURVEY_MENTOR s ON m.survey_number = s.survey_number
		LEFT JOIN UB_FILE f ON m.file_number = f.file_number
		LEFT JOIN UB_MENTORING mt ON m.member_number = mt.mentor_number
		WHERE m.member_type = 'MENTOR'
		AND m.member_state = '계정 활성화'
		ORDER BY m.member_number DESC
	</select>

	<select id="selectMentorDetail" parameterType="long"
		resultType="MentorSearchDTO">
		SELECT
		m.member_number AS memberNumber,
		m.member_name AS memberName,
		m.member_nickname AS memberNickname,
		s.grad_school AS gradSchool,
		s.grad_depart AS gradDepart,
		f.file_name AS fileName,
		TO_CHAR(mt.created_at, 'YYYY.MM.DD') AS createdAt
		FROM UB_MEMBER m
		LEFT JOIN UB_SURVEY_MENTOR s ON m.survey_number = s.survey_number
		LEFT JOIN UB_FILE f ON m.file_number = f.file_number
		LEFT JOIN UB_MENTORING mt ON m.member_number = mt.mentor_number
		WHERE m.member_number = #{memberNumber}
	</select>

</mapper>