<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mentoring">

	<select id="select" parameterType="long"
		resultType="MentoringDTO">
		SELECT
		m.MENTORING_NUMBER as mentoringNumber,
		m.MENTOR_NUMBER as mentorNumber,
		m.SUBJECT_NUMBER as subjectNumber,
		m.MENTORING_TITLE as mentoringTitle,
		m.MENTORING_GOAL as mentoringGoal,
		m.MENTORING_DETAIL as mentoringDetail,
		m.FILE_NUMBER as fileNumber,
		f.FILE_NAME as fileName
		FROM UB_MENTORING m
		LEFT JOIN UB_FILE f ON m.FILE_NUMBER =
		f.FILE_NUMBER
		WHERE m.MENTORING_NUMBER = #{mentoringNumber}
	</select>

	<insert id="insert" parameterType="MentoringDTO">
		<selectKey keyProperty="mentoringNumber" resultType="long"
			order="BEFORE">
			SELECT SEQ_MENTORING.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO UB_MENTORING (
		MENTORING_NUMBER,
		MENTOR_NUMBER,
		SUBJECT_NUMBER,
		MENTORING_TITLE,
		MENTORING_GOAL,
		MENTORING_DETAIL,
		FILE_NUMBER,
		CREATED_AT,
		UPDATED_AT
		) VALUES (
		#{mentoringNumber},
		#{mentorNumber},
		#{subjectNumber},
		#{mentoringTitle},
		#{mentoringGoal},
		#{mentoringDetail},
		#{fileNumber},
		CURRENT_TIMESTAMP,
		CURRENT_TIMESTAMP
		)
	</insert>

	<update id="update" parameterType="MentoringDTO">
		UPDATE UB_MENTORING
		SET
		SUBJECT_NUMBER = #{subjectNumber},
		MENTORING_TITLE = #{mentoringTitle},
		MENTORING_GOAL = #{mentoringGoal},
		MENTORING_DETAIL = #{mentoringDetail},
		UPDATED_AT = CURRENT_TIMESTAMP
		WHERE MENTORING_NUMBER = #{mentoringNumber}
	</update>

	<delete id="delete" parameterType="long">
		DELETE FROM UB_MENTORING
		WHERE
		MENTORING_NUMBER = #{mentoringNumber}
	</delete>

	<select id="checkAlreadyExists" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM UB_MENTORING
        WHERE MENTOR_NUMBER = #{mentorNumber}
    </select>
    
    <select id="getMentoringNumberByMentor" parameterType="long" resultType="long">
        SELECT MENTORING_NUMBER
        FROM UB_MENTORING
        WHERE MENTOR_NUMBER = #{mentorNumber}
    </select>

</mapper>