<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mvc.adminReportDetail">

    <!-- 과목 번호로 과목명 조회 -->
    <select id="searchSubjectName" parameterType="int" resultType="String">
        SELECT us.subject_name
        FROM UB_SUBJECT us
        WHERE us.subject_status = '활성'
          AND us.subject_number = #{subjectNumber}
    </select>

</mapper>