<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="survey">
	
	<resultMap id="baseSurveyMap" type="SurveyDTO">
	    <result property="surveyNumber" column="survey_number"/>
	    <result property="surveyType" column="survey_type"/>
	    <result property="surveyApproval" column="survey_approval"/>
	    <result property="surveyRejReason" column="survey_rej_reason"/>
	    <result property="surveyAppDate" column="survey_app_date"/>
	    <result property="adminNumber" column="admin_number"/>
	    <result property="fileNumber" column="file_number"/>
	    <result property="memberNumber" column="member_number"/>
	    <result property="memberType" column="member_type"/>
	    <result property="memberName" column="member_name"/>
	</resultMap>
	
	<resultMap id="menteeSurveyMap" type="SurveyMenteeDTO" extends="baseSurveyMap">
	    <result property="menteeSchool" column="mentee_school"/>
	    <result property="menteeGrade" column="mentee_grade"/>
	    <result property="menteeHopeuni" column="mentee_hopeuni"/>
	    <result property="menteeHopemajor" column="mentee_hopemajor"/>
	    <result property="subjectNumber" column="subject_number"/>
	</resultMap>
	
	<resultMap id="mentorSurveyMap" type="SurveyMentorDTO" extends="baseSurveyMap">
	    <result property="gradSchool" column="grad_school"/>
	    <result property="gradDepart" column="grad_depart"/>
	    <result property="gradScore" column="grad_score"/>
	    <result property="subjectNumber" column="subject_number"/>
	</resultMap>

    <insert id="insertSurvey" parameterType="SurveyDTO">
	    <selectKey keyProperty="surveyNumber" resultType="int" order="BEFORE">
	        SELECT SEQ_SURVEY.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO UB_SURVEY (
	        survey_number, 
	        survey_type, 
	        member_number,  
	        admin_number, 
	        file_number,
	        survey_approval,
	        survey_app_date  )
	    VALUES (
	        #{surveyNumber}, 
	        #{surveyType}, 
	        #{memberNumber}, 
	        1, 
	        #{fileNumber, jdbcType=INTEGER},
	        'P',
	        SYSDATE          )
	</insert>
	
	<insert id="insertMenteeSurvey" parameterType="SurveyMenteeDTO">
	    INSERT INTO UB_SURVEY_MENTEE (
	        survey_number, mentee_school, mentee_grade, 
	        mentee_hopeuni, mentee_hopemajor, subject_number
	    )
	    VALUES (
	        #{surveyNumber}, #{menteeSchool}, #{menteeGrade}, 
	        #{menteeHopeuni}, #{menteeHopemajor}, #{subjectNumber}
	    )
	</insert>
    
    <insert id="insertMentorSurvey" parameterType="SurveyMentorDTO">
        INSERT INTO UB_SURVEY_MENTOR (
            survey_number, grad_school, grad_depart, grad_score, subject_number
        )
        VALUES (
            #{surveyNumber}, #{gradSchool}, #{gradDepart}, #{gradScore}, #{subjectNumber}
        )
    </insert>

    <select id="selectLatestSurvey" parameterType="int" resultMap="menteeSurveyMap">
	    SELECT * FROM (
	        SELECT 
	            m.member_type, m.member_name,
	            s.survey_number, s.survey_type, s.survey_approval, s.survey_rej_reason, 
	            s.survey_app_date, s.admin_number, s.file_number, s.member_number,
	            sm.grad_school, sm.grad_depart, sm.grad_score, 
	            se.mentee_school, se.mentee_grade, se.mentee_hopeuni, se.mentee_hopemajor,
	            NVL(sm.subject_number, se.subject_number) AS subject_number
	        FROM UB_MEMBER m
	        JOIN UB_SURVEY s ON m.member_number = s.member_number
	        LEFT JOIN UB_SURVEY_MENTOR sm ON s.survey_number = sm.survey_number
	        LEFT JOIN UB_SURVEY_MENTEE se ON s.survey_number = se.survey_number
	        WHERE m.member_number = #{memberNumber}
	        ORDER BY s.survey_number DESC
	    ) WHERE ROWNUM = 1
	</select>
	
	<select id="checkSurveyExists" parameterType="int" resultType="int">
	    SELECT COUNT(*) FROM UB_SURVEY WHERE member_number = #{memberNumber}
	</select>
    
    <select id="selectMentorSurvey" parameterType="int" resultMap="mentorSurveyMap">
        SELECT * FROM (
            SELECT 
                s.survey_number, s.survey_type, s.survey_approval, s.survey_rej_reason, s.survey_app_date, s.file_number, s.member_number,
                m.member_type, m.member_name,
                sm.grad_school, sm.grad_depart, sm.grad_score, sm.subject_number
            FROM UB_SURVEY s
            JOIN UB_MEMBER m ON s.member_number = m.member_number
            JOIN UB_SURVEY_MENTOR sm ON s.survey_number = sm.survey_number
            WHERE s.member_number = #{memberNumber}
            ORDER BY s.survey_number DESC
        ) WHERE ROWNUM = 1
    </select>
    
    <select id="selectMenteeSurvey" parameterType="int" resultMap="menteeSurveyMap">
	    SELECT * FROM (
	        SELECT 
	            s.survey_number, s.survey_type, s.survey_approval, s.survey_rej_reason, s.survey_app_date, s.file_number, s.member_number,
	            m.member_type, m.member_name,
	            se.mentee_school, se.mentee_grade, se.mentee_hopeuni, se.mentee_hopemajor, se.subject_number
	        FROM UB_SURVEY s
	        JOIN UB_MEMBER m ON s.member_number = m.member_number
	        JOIN UB_SURVEY_MENTEE se ON s.survey_number = se.survey_number
	        WHERE s.member_number = #{memberNumber}
	        ORDER BY s.survey_number DESC
	    ) WHERE ROWNUM = 1
	</select>
	
	<select id="getSurveyType" parameterType="int" resultType="string">
	    SELECT * FROM (
	        SELECT survey_type
	        FROM UB_SURVEY
	        WHERE member_number = #{memberNumber}
	        ORDER BY survey_number DESC
	    ) WHERE ROWNUM = 1
	</select>
	
	<update id="updateSurvey" parameterType="SurveyDTO">
	    UPDATE UB_SURVEY
	    SET
	        survey_type     = #{surveyType},
	        member_number   = #{memberNumber},
	        admin_number    = #{adminNumber}, -- 혹은 고정값 1
	        file_number     = #{fileNumber, jdbcType=INTEGER},
	        survey_approval = #{surveyApproval}, -- 필요 시 'P' 등으로 고정
	        survey_app_date = SYSDATE            -- 수정 시간을 현재로 갱신할 경우
	    WHERE 
	        survey_number   = #{surveyNumber}
	</update>
    
</mapper>