*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(135deg, #f5f7ff 0%, #e8eeff 100%);
    min-height: 100vh;
    border : 1px solid black;
    display: flex;
    flex-direction: column;
    font-family: 'NanumSquareRound', sans-serif;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin: 50px;
}

.signUpBox {
    background-color: white;
    padding: 30px 40px;
    border: 1px solid #e8eeff;
    border-radius: 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: auto;
    min-width: 550px;
    min-height: 700px;
    max-width: 550px;
    max-height: 800px;
}

.signUpTitle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.inputGroup {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

.genderBtn{
    margin-right: 30px;
}

label {
    width: 100px;
    text-align: left;
    font-size: 18px;
}

.userInput {
    flex: 1;
    height: 40px;
    background-color: #e0e0e0;
    border: none;
    padding: 0 15px;
}

.signUpBtn {
    width: 100%;
    padding: 15px;
    background-color: #e8eeff;
    border: none;
    border-radius: 10px;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.duplication{
    margin-left: 10px;
    width: 20%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.spacer {
    margin-left: 10px;
    width: 20%;
}

.errorMsg {
    color: red;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    flex-basis: 100%;
    margin-left: 100px;
    margin-top: 1px;
    order: 99;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}