@charset "UTF-8";

ul li{
	list-style-type: none;
}

.root-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 1250px;
  height: 57px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.header .logo span {
  cursor: pointer;
}
.header .logo {
  box-sizing: border-box;
  width: 380px;
  height: 100%;

  font-family: 'jsMath-cmti10';
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;

  padding-left: 10px;
  color: #334155;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header .nav-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 25px;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .nav-container li::marker {
  content: none;
}

.header .nav-container li {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header .nav-container .nav-logout {
  color: #FF1515;
}


/* ========================== main container ========================== */
.main-container {
  box-sizing: border-box;

  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;

  margin: 10px 0px;
}

.main-container .title-container {
  position: relative;
  width: 100%;
  height: 60px;
  

}

.main-container .title-container .title {
  position: absolute;
  left: 9px;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  padding-left : 40px;

  color: #000000;
}

.main-container .title-container .date-selector-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-container .title-container .date-selector-container .button {
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.main-container .title-container .date-selector-container .selected-year {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 73px;

  color: #000000;
}

.main-container .content-container {
  width: 100%;
  height: auto;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-container .content-container .content-container__inner {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container .content-container .month-selector {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-container .content-container .month-selector .month-item::marker {
  content: none;
}
.main-container .content-container .month-selector .month-item {
  cursor: pointer;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 41px;
  
  color: #716E6E; 
}

.main-container .content-container .vertical-line {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: #716E6E;
}

.main-container .content-container .subject-selector {
  width: 100%;
  height: 109px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;

  gap: 30px;
}

.main-container .content-container .subject-selector li::marker {
  content: none;
}

.main-container .content-container .subject-selector .subject-item {
  width: 75px;
  height: 75px;

  cursor: pointer;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 41px;
  
  color: #716E6E; 

  border-radius: 18px;
}

.subject-selector img{
  width:75px;
  height:75px;
  object-fit:contain;
  
}

.main-container .content-container .report-container {
  width: 100%;
  height: auto;
  
  flex: 0 0 auto;
}

.main-container .content-container .report-container .report-container__inner {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container .content-container .report-container .report-container__inner .reports-per-week {
  width: 100%;
  height: auto;

  gap: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content {
  width: 100%;
  height: auto;

  box-sizing: border-box;
  padding: 15px 20px;
  background: #D9D9D9;
  border-radius: 35px;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content
.report-content__inner {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .title {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;

  color: #000000;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports {
  width: 100%;
  height: auto;

  box-sizing: border-box;
  padding: 10px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item:first-child {
  border: none;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item {
  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 5px 0px;

  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #949292;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .mentor-mentee {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .mentor-mentee .user-info {
  width: 250px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .mentor-mentee .user-icon{
  width: 68px;
  height: 68px;

}

.user-icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .mentor-mentee .user-info .user-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  margin-left: 15px;
  flex: 1;
}
	
.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .mentor-mentee .user-desc
.mentor {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #7E7B7B;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .mentor-mentee .user-desc
[class*="-name"] {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;

  color: #000000;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .detail-button:hover {
  background: #F1F5F9;
  border: 1px solid #D9E2F0;
}

.main-container 
.content-container 
.report-container 
.report-container__inner 
.reports-per-week
.report-content .reports
.report-item .detail-button {
  cursor: pointer;
  width: 77px;
  height: 46px;

  background: #FFFEFE;
  border: 1px solid #000000;
  border-radius: 17px;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  align-content: center;
  text-align: center;

  color: #000000;
}