<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>unibridge</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 결제 페이지 -->
	<servlet>
		<servlet-name>Pay</servlet-name>
		<servlet-class>com.unibridge.app.pay.controller.PayFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pay</servlet-name>
		<url-pattern>*.pay</url-pattern>
	</servlet-mapping>


	<!-- 멘토 검색 페이지 -->
	<servlet>
		<servlet-name>MentorSearch</servlet-name>
		<servlet-class>com.unibridge.app.mentorSearch.controller.MentorSearchFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MentorSearch</servlet-name>
		<url-pattern>*.sch</url-pattern>
	</servlet-mapping>
	
	<!-- 회원가입, 로그인 -->
	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>com.unibridge.app.member.MemberFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>*.mem</url-pattern>
	</servlet-mapping>
	
	<!-- 마이페이지 -->
	<servlet>
		<servlet-name>Mypage</servlet-name>
		<servlet-class>com.unibridge.app.mypage.MypageFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mypage</servlet-name>
		<url-pattern>*.my</url-pattern>
	</servlet-mapping>

	<!-- 공지사항 페이지 -->
	<servlet>
		<servlet-name>NoticeBoard</servlet-name>
		<servlet-class>com.unibridge.app.noticeBoard.NoticeBoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeBoard</servlet-name>
		<url-pattern>*.ntb</url-pattern>
	</servlet-mapping>

	<!-- 멘티 게시판 페이지 -->
	<servlet>
		<servlet-name>MenteeBoard</servlet-name>
		<servlet-class>com.unibridge.app.menteeBoard.MenteeBoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenteeBoard</servlet-name>
		<url-pattern>*.meb</url-pattern>
	</servlet-mapping>

	<!-- 멘토 게시판 페이지 -->
	<servlet>
		<servlet-name>MentorBoard</servlet-name>
		<servlet-class>com.unibridge.app.mentorBoard.MentorBoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MentorBoard</servlet-name>
		<url-pattern>*.mob</url-pattern>
	</servlet-mapping>

	<!-- 학습보고서 페이지 -->
	<servlet>
		<servlet-name>LearningReport</servlet-name>
		<servlet-class>com.unibridge.app.learningReport.LearningReportFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LearningReport</servlet-name>
		<url-pattern>*.rep</url-pattern>
	</servlet-mapping>

	<!-- 메인페이지 -->
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.unibridge.app.main.controller.MainFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>*.main</url-pattern>
	</servlet-mapping>

	<!-- 관리자 -->
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.unibridge.app.admin.AdminFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>*.admin</url-pattern>
	</servlet-mapping>

</web-app>