.root-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;

  padding: 23px 22px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 1250px;
  height: 57px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.header .logo span {
  cursor: pointer;
}
.header .logo {
  box-sizing: border-box;
  width: 380px;
  height: 100%;

  font-family: 'jsMath-cmti10';
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;

  padding-left: 10px;
  color: #334155;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header .nav-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 25px;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .nav-container li::marker {
  content: none;
}

.header .nav-container li {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header .nav-container .nav-logout {
  color: #FF1515;
}


.content-container {
  width: 100%;
  height: auto;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-container .title-container {
  padding: 20px 0px 0px 20px;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;

  color: #000000;
}

.content-container .detail-container {
  width: 100%;
  height: auto;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-container .detail-container .detail-container__inner {
  width: 763px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container {
  width: 100%;
  height: 280px;

  box-sizing: border-box;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: linear-gradient(180deg, #E2E2E2 0%, #E2E2E2 100%);
  border: 1px solid #000000;
  border-radius: 18px;
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container 
.config-title {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #000000;
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container 
.config-title__inner {
  width: 100px;
  height: 100%;
  
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 12.2px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: #000000;  
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container 
.config-content__inner {
  width: auto;
  height: 37px;

  box-sizing: border-box;
  padding: 0px 20px;

  border: 1px solid #000000;
  border-radius: 18px;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 12.2px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: #000000;
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container
[class^="config-subject"]  {
  width: 100%;
  min-height: 37px;

  margin: 5px 0px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  gap: 10px;
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container 
.config-subject-name-container 
.config-content__inner {
  width: 300px;
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container 
.config-subject-topic-container 
.config-content__inner {
  width: 600px;
}

.content-container 
.detail-container 
.detail-container__inner 
.detail-config-container 
.config-subject-summary-container 
.config-content__inner {
  width: 600px;
  height: 88px;
}

.content-container 
.detail-container 
.detail-content-container {
  width: 100%;
  height: auto;
  flex: 1;
}

.content-container 
.detail-container 
.detail-content-container
.detail-content-container__inner {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 0px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 25px;
}

.content-container 
.detail-container 
.detail-content-container
.detail-content-container__inner
.detail-content-title {
  width: 100%;
  height: 30px;

  margin-top: 30px;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.content-container 
.detail-container 
.detail-content-container
.detail-content-container__inner
.detail-content-textbox {
  width: 100%;
  height: 100%;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 12.2px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: #000000;
}

.content-container 
.detail-container 
.button-container {
  position: relative;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content-container 
.detail-container 
.detail-container__inner
.button-container 
.delete-button {
  cursor: pointer;
  width: 75px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  background: #FEFEFE;
  border: 1px solid #FF0000;
  border-radius: 16px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;

  color: #FA0000;
}